.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  position: relative;
  max-width: 730px;
}

.list {
  display: flex;
  column-gap: 30px;
  width: 100%;
  transition: transform 0.4s ease;
}

.desc_title {
  margin: 40px 0 20px 0;
  text-align: start;
}

.left_btn {
  background-image: url(../../../images/arrow-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
}

.right_btn {
  background-image: url(../../../images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
}

.image {
  width: 445px;
  height: 445px;
  flex-shrink: 0;
  object-fit: cover;
}

.description {
  max-width: 445px;
  margin: 0;
  text-align: start;
}

.caring {
  max-width: 445px;
  margin: 0;
  text-align: start;
}
