.header {
  max-width: 1100px;
  padding: 90px 0 0 0;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  background-image: url(../../images/cart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 37px;
  height: 30px;
}

.link {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-size: 200%;
  background-image: linear-gradient(to left, white 50%, black 50%);
  background-position: right;
  border: none;
  padding: 15px;
  border-radius: 25px;
}

.link:active {
  top: 3px;
}

.link_active {
  transition: all 0.4s ease;
  color: white;
  background-position: left;
}

.links {
  width: 365px;
  display: flex;
  justify-content: space-between;
}
